.main-container {
  height: 400px;
  width: 286px;
  overflow: hidden;
  border-radius: 8px;
  margin: 14px;
  cursor: pointer;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-container img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-detail {
  height: 200px;
  background-color: #E2C275;
  padding: 16px 24px;
}

.nama-dan-harga {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nama-dan-harga h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
  color: var(--black-font);
}

h3.lokasi {
  color: var(--main-color1);
}

.card-detail p {
  margin-top: 8px;
  color: var(--black-font);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.deskripsi {
  height: 3em;
  overflow-y: scroll;
}

.deskripsi {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.deskripsi::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.counter {
  background-color: var(--main-background-color);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--black-font2);
}

.minus,
.plus {
  font-size: 1.5rem;

}

.pesan-dan-star {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-top: 1rem;
}

.pesan-dan-star>button,
.pesan-dan-star>span {
  background-color: var(--main-background-color);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.pesan-dan-star>button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 1.5rem;
}