.main-container {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.main-image {
  width: 55%;
}
.description {
  position: absolute;
  width: 55%;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  height: 347px;
  background-color: var(--cream);
  padding: 2rem 4rem;
}
.description h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}
.description > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}
.description ul {
  margin-top: 2rem;
}
.description ul li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(1rem - 2px);
  letter-spacing: 0.05em;
  padding-bottom: 1rem;
}
.description span {
  margin-right: 1rem;
}