@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --black: #191919;
  --black-font: #334449;
  --main-color1: rgb(195, 106, 45);
  --main-background-color: #FFFBEB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#main-container {
  background-color: var(--main-background-color);
}